body {
  background-color: black;
  min-width: 1400px;
  margin: 0 auto;
}
#umbrella-container {
  height: 150px;
  width: 100px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: 0 auto;
  
  position: absolute;
  left: calc((50% - 40px));
  bottom: 0px;
  
  background-color: black;
}
#umbrella {
  height: 40%;
  width: 100%;
  
  background-color: red;
  
  border-radius: 70px 70px 0 0;
}
#stick {
  height: 40%;
  width: 3%;
  
  background-color: white;
  
  border-radius: 0 0 30% 0;
}
#handle {
  height: 7.5%;
  width: 13.5%;
  
  border-radius: 0 0 10px 10px;
  border-width: 3.25px;
  border-style: solid;
  border-color: rgba(0,0,0,0) white white white;

  
  position: relative;
  right: 8.5px;
  bottom: 10.0px;
  
  transform: rotate(0deg);
}
#ball-container {

  height: 20%;
  width: 100%;
  
  position: relative;
  bottom: 80px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 0;
}
.ball {
  height: 120%;
  width: 34%;
  
  border-radius: 100%;
  border-top-style: solid;
  border-color: #8b0000;
  border-width: 6px;
  
  background-color: black;
  
  margin: 0px;
  
  position: relative;
}
#ball {
  display: flex;
  justify-content: center;
  align-items: center; 
}
#stick2 {
  height: 100%;
  width: 3px;
  background: linear-gradient(to bottom, gray 49%, white 49%);
  
  position: absolute;
  left: calc(50% - 1px);
}
#handleCover {
  background-color: black;
  height: 5px;
  width: 10px;
  
  position: relative;
  bottom: 53px;
  right: 20px;
}
.fallingFormatting {
  font-family: helvetica;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 0;
  left: 50%;
}
.fallingTwistL {
  animation: fallingTwistL 1s ease 0s infinite forwards;
}
@keyframes fallingTwistL {
  70% {transform: rotate(-30deg);}
  100% {top: 105%; transform: rotate(-95deg)}
}
.fallingTwistR {
  animation: fallingTwistR 1s ease 0s infinite forwards;
}
@keyframes fallingTwistR {
  70% {transform: rotate(30deg);}
  100% {top: 105%; transform: rotate(95deg)}
}
.rainOnUmbrellaL {
  animation: rainOnUmbrellaLA .8s ease 0s infinite forwards, rainOnUmbrellaLB .8s linear 0s infinite forwards;
}
@keyframes rainOnUmbrellaLA {
  0% {top: 0%;}
  50% {top: calc(100vh - 187px);}
  57.5% {top: calc(100vh - 187px - .5px);}
  59% {top: calc(100vh - 187px - .75px);}
  60% {top: calc(100vh - 187px - 1px);}
  61.25% {transform: rotate(-30deg);}
  62.50% {transform: rotate(-45deg);}
  65% {transform: rotate(-60deg);}
  75% {transform: rotate(-75deg);}
  85% {transform: rotate(-90deg);}
  95% {transform: rotate(-105deg);}
  100%{top: 105%; transform: rotate(-120deg);}
}
@keyframes rainOnUmbrellaLB {
  52.5% {left: 50%;}
  55% {left: 49.5%;}
  57.5% {left: 49%;}
  60% {left: 48.5%;}
  62.5% {left: 47%;}
  100% {left: 30%;}
}
.rainOnUmbrellaR {
  animation: rainOnUmbrellaRA .8s ease 0s infinite forwards, rainOnUmbrellaRB .8s linear 0s infinite forwards;
}
@keyframes rainOnUmbrellaRA {
  0% {top: 0%;}
  50% {top: calc(100vh - 187px);}
  57.5% {top: calc(100vh - 187px - .5px);}
  59% {top: calc(100vh - 187px - .75px);}
  60% {top: calc(100vh - 187px - 1px);}
  61.25% {transform: rotate(30deg);}
  62.50% {transform: rotate(45deg);}
  65% {transform: rotate(60deg);}
  75% {transform: rotate(75deg);}
  85% {transform: rotate(90deg);}
  95% {transform: rotate(105deg);}
  100%{top: 105%; transform: rotate(-120deg);}
}
@keyframes rainOnUmbrellaRB {
  52.5% {left: 50%;}
  55% {left: 50.5%;}
  57.5% {left: 51%;}
  60% {left: 51.5%;}
  62.5% {left: 53%;}
  100% {left: 70%;}
}
/*--------------------------------------------------------*/
video {
  display: none;
}

.thunder {
  animation: flash .5s linear 0s infinite;
}

@keyframes flash {
  100% {background-color: #2d2d2d;}
}
#instructions {
  font-family: helvetica;
  font-size: 30px;
  color: white;
  display: none;
  animation: flash2 1s steps(1) 0s infinite;
}
@keyframes flash2 {
  50% {color: red;}
}
#displayHolder {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 33%;
}
#display {
  margin: 0 auto;
  font-family: helvetica;
  color: white;
}